.App {
  text-align: center;
  /* background-color: aqua; */
}
button:hover{
  background-color: orange;
  color: white;
  font-size: medium;
  font-weight: 400;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 10px;
border-radius: 50px;
box-shadow: 5px 10px 10px grey;
}
body{
  background-image: url(https://fps.cdnpk.net/images/home/subhome-ai.webp?w=649&h=649);
  background-size: cover;
  object-fit: cover;
  background-attachment:fixed;
}
.h1{
  background-color: rgb(189, 178, 181);
  color: blue;
  display: inline-block;
  border-radius: 18px;
}